body
{
    color: cornflowerblue;
    text-align: center;
    font-family: cursive;
    font-size: 25;
}

html   
{  
    background: gray;
}

#container
{
    width: 50%;
    text-align: center;
    border: 2px solid;
    padding: left;
    margin: auto;
} 
    
#container h1
{
    color:blue;
}

#container p
{
    text-align: left;
}